<div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Get Article</h1>
        <p>Gets list of articles from an api</p>              
        <span ng-hide="articles">Loading...</span>
        <ol>
          <li ng-repeat="a in ::articles track by $index">
            <a href="/#/app/view/{{::a.id}}"> {{::a.title}}  </a> 
          </li>
        </ol>  
        
      </div>      
 </div> <!-- /container -->